// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$navbar-nav-link-padding-x: 1rem;
$navbar-nav-link-padding-y: 1rem;
$body-color: #0B3B55;
$nav-link-font-size: medium;
$card-border-width: 3px;
$card-border-color: #FF8616;
$card-border-radius: 35px;
$card-spacer-x: 2rem;
$card-spacer-y: 2rem;
$card-bg:unset;
