// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Utilities
@import 'utilities';

//// Bootstrap
@import 'bootstrap/scss/bootstrap';

.btn-primary
{
    @include button-variant($btn-color, $btn-color, white, white, $btn-color, $btn-color);
}
.btn-outline-primary
{
    @include button-outline-variant($btn-color, white, $btn-color, $btn-color);
}
body
{
    background-image: url('/resources/images/background.webp');
}
footer
{
    .copyright
    {
        font-size: $font-size-sm;
    }
    .btn-primary
    {
        @include button-variant(white, $btn-color, $btn-color, $btn-color, $btn-color, white);
        width: 100%;
    }
}
.icon
{
    font-size: $font-size-lg;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 0.5));
}
.card-img-top
{
    height: 200px;
}
.image-style-align-right img
{
    float: right;
}
.image-style-align-left img
{
    float: left;
}
.image-style-align-center img
{
    display: block;
    margin: auto;
}
.image-style-block-align-right img
{
    margin-left:auto;
    display: block;
}
.image-style-block-align-left img
{
    margin-right:auto;
    display: block;
}
img
{
    max-width: 100%;
    object-fit: contain;
    display: block;
    height: 100%;
}
figcaption
{
    text-align: center;
}
