// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
body
{
    font-family: 'Montserrat', sans-serif;

}
h2
{
    font-size: xx-large;
    color: #0B3B55;
    font-weight: 500;
}
